* 
{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

.container 
{
    display: flex;
    flex-flow:column;
}

.calculater
{
    width: 380px;
    background-color:#1A1A28;
    display: flex;
    flex-flow:column;
    padding:5px;

}
.calcKeys 
{
    display: flex;
    flex-flow:column;
    gap:10px;
    padding:5px;
}
.keys 
{
    border-radius: 10px;
    background-color: #51C9DC;
    color:white;
    font-size:18px;
    width:80px;
    height: 80px;
}
.keys:hover
{
  background-color: gainsboro;
  color:black;
}
.zero 
{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 160px;
    height: 70px; 
    border-radius: 25px;
}
.row
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button 
{
    border:none;
}

.calcDisplay 
{
    width: 100%;
    padding:0px 10px;
    /* border:1px solid green; */
}
.calcDisplay:focus
{
  border:1px solid white;
}

.calcScreen 
{
    width: 100%;
    height:200px;
    background-color: #1A1A28;
    
}
input 
{
    display: flex;
    font-size: 50px;
    border:none;
    color:white;
    text-align: right;
}
#result
{
    width: 100%;
    height:50px ;
    /* border:1px solid red; */
    background-color: #1A1A28;  
    color:white;
    font-size: 24px;
}