* {
    box-sizing: border-box;
    padding: 0px;
    margin:0px
}
.container {
    display: flex;
    gap:10px;
}
.card {
   width: 320px;
   height: 480px;
   background-color: white;
   overflow: hidden;
   border-radius: 5px;
   padding: 8px 5px;
   box-shadow: 0px 0px 5px rgb(211, 211, 211);

}
.card:hover 
{
   box-shadow: 3px 3px 10px rgb(211, 211, 211);
}
.banner {
    width: 100%;
    height: 30px;
    background-color: aqua;
}
.imgSection {
    width: 100%;
    height: 350px;
    background-color: blueviolet;
}
.imgSection img {
    width: 100%;
    height:100%
}
.discSection {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow:column;
    font-size: 22px;
    /* background-color:blue; */
}
.ratingSection 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px 5px;
    /* background-color:yellow; */
    height: 40px;

}
.rating {
    background-color: green;
    color:white;
    padding:3px 10px;
    border-radius: 5px;
}
.price {
  
    font-weight: bold;
    background-color: rgb(121, 190, 65);
    width: 120px;
    color:white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 2px 5px;
}
.price:hover {
   background-color: rgb(131, 212, 64); 
}
.name {
    /* width: 100%; */
    height: 40px;
    /* border: 1px solid red; */
    /* background-color: aquamarine; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text 
{
    /* background-color: yellow; */
    /* border:1px solid lime; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sold {
    font-weight: bold;
}
