.container {
    display: flex;
    gap:10px;
}
.card {
    width: 250px;
    height: 250px;
    background-color: green;
    color:white;
    text-align: center;
    font-size: 30px;
    padding:25px
}
.yellow {
    background-color: yellowgreen;
}